
.modal-body {
    padding: 30px;
    .modal__footer__button {
        display: flex;
        align-items: center;
        margin-top: 30px;
        &--spb {
            justify-content: space-between;
        }
        &--center {
            justify-content: center;
        }
        .button {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
